{{ partial "header" . }}
{{ partial "nav" . }}
<div class="container">
    Sorry, this page is in maintenance <!--TODO: to be remove -->
  <section class="section">
      {{ .Content }}
      {{ $paginator := .Paginate (where .Data.Pages "Type" "post") }}
      {{ range sort $paginator.Pages }}
      <article>
        {{ partial "post-metadata-list" . }}
        <!--<div class="content">-->
          <!--{{ partial "banner" . }}-->
          <!--&lt;!&ndash; supports emoji &ndash;&gt;-->
          <!--{{ .Summary | emojify }}-->
        <!--</div>-->
      </article>
      {{ end }}
  </section>
</div>
{{ partial "paginate-list" . }}
{{ partial "footer" . }}