{{ partial "header" . }}
{{ partial "nav" . }}
<div class="container-fluid">
    <section class="section">
        <br>
        {{ $paginator := .Paginate (where .Data.Pages "Type" "domaine-intervention") }}
        {{ range sort $paginator.Pages }}
        <article>
            <div class="row justify-content-md-center">
                <div class="col-4">
                    <div class="row justify-content-center">
                        <img class="img-domaine rounded float-right" src="{{ .Params.image }}" alt="{{ .Params.title }}">
                    </div>
                    <div class="row justify-content-center">
                        {{ if .Params.tags }}
                            {{ partial "tags" .Params.tags }}
                        {{ end }}
                    </div>
                </div>
                <div class="col">
                    <div class="col-12 col-md-auto">
                        <div class="col-10 align-self-center text-center">
                            <h1 class="card-title align-self-center text-center">{{ .Params.title }}</h1>
                            <p class="card-text">{{ .Content }}</p>
                            <br>
                            <br>
                            {{ range .Params.associated_projects }}
                                <a href="{{ .link }}" class="card-link">{{ .title }}</a> <!-- TODO: lien automatiaue (entre domaine et projet) lors de la creation de nouveau fichier-->
                            {{ end }}
                        </div>
                    </div>
                </div>
            </div>
        </article>
        <hr>
        {{ end }}
    </section>
</div>
{{ partial "paginate-list" . }}
{{ partial "footer" . }}

