<!DOCTYPE html>
<!--<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">-->
<head>
    <link rel="icon" href="/img/A-aldaketa.png">
    <title>Narbais Blog</title>
    <!--<link rel="canonical" href="{{ .Permalink }}">-->
    <!--{{ if .RSSLink }}<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />{{ end }}-->

    {{ partial "includes.html" . }}
</head>
<body lang="en">


<!--TODO: all tags have a link for something-->
<!--TODO: 1/2 in the domaines-->
<!--TODO: mieux nous connaitre ICI a la fin de la page contact-->