<!--<div class="wrapper-masthead">-->
<!--<div class="container-fluid">-->
<!--<header class="masthead clearfix">-->
<div class="container-fluid header pb-4 p-lg-5">
  <div class="row align-items-end">
    <div class="col">
      <div class="text-center slogan">
        <a href="/accueil/"><img src="{{ .Site.Params.avatar }}" /></a>
        <p class="site-description">{{ .Site.Params.description }}</p>
      </div>
    </div>
    <div class="col">
      <div class="upstrap">
        <div class="row">
          {{ $currentPage := . }}
          {{ range .Site.Menus.essential }}
          <ul class="nav nav-tabs justify-content-center align-items-center">
            <li class="nav-item">
              <a class="nav-link{{if or ($currentPage.IsMenuCurrent "essential" .) ($currentPage.HasMenuCurrent "essential" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
            </li>
          </ul>
          {{ end }}
          <!--<nav class="sidebar-nav">-->
            <!--{{ $currentPage := . }}-->
            <!--{{ range .Site.Menus.essential }}-->
            <!--<a class="sidebar-nav-item{{if or ($currentPage.IsMenuCurrent "essential" .) ($currentPage.HasMenuCurrent "essential" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>-->
            <!--{{ end }}-->
          <!--</nav>-->
        </div>
      </div>
    </div>
  </div>
</div>
<!--</header>-->
<!--</div>-->
<!--</div>-->