<!-- supports emoji -->
<!--<h1 class="title"><a href="{{ .Permalink }}">{{ .Title | emojify }}</a>{{ if .Draft }} ::Draft{{ end }}-->
    <!--<small class="text-muted pull-right">{{ .Date.Format "January 2, 2006" }}</small>-->
<!--</h1>-->
<!--<div class="post-metadata">-->
  <!--<p class="text-muted">{{ .Params.subtitle }}</p>-->
  <!--{{ if .Params.tags }}-->
    <!--{{ partial "tags" .Params.tags }}-->
  <!--{{ end }}-->
<!--</div>-->

<div class="container article">
    <div class="row">
        {{ partial "post-metadata-single-up" . }}
    </div>
    <div class="row">
        <div class="col-8">
            <hr>
            {{ partial "description" . }}
            <br>
            {{ partial "solution" . }}
            <br>
            {{ partial "result" . }}
        </div>
        <div class="col">
            {{ partial "image" . }}
            {{ partial "post-metadata-single-down" . }}
        </div>
    </div>
    <div class="row justify-content-end">
        <!--RAJOUTE LE NOM DE L'AUTEUR-->
        <!--{{ if (ne ($.Param "displayauthor") true) }}-->
        <!--<small class="text-muted">by {{ .Params.author | default .Site.Params.author }}</small>-->
        <!--{{ end }}-->
    </div>
</div>