{{ partial "header" . }}
{{ partial "nav" . }}
<div id="carouselAccueil" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselAccueil" data-slide-to="0" class="active"></li>
        <li data-target="#carouselAccueil" data-slide-to="1"></li>
        <li data-target="#carouselAccueil" data-slide-to="2"></li>
    </ol>


    <div class="carousel-inner full-screen" role="listbox">
        <div class="carousel-item item active">
            <img class="d-block img-fluid" src="/img/temp1.jpg" alt="First slide">
        </div>
        <div class="carousel-item item">
            <img class="d-block img-fluid" src="/img/activites/rock/mains.jpeg" alt="Second slide">
        </div>
        <div class="carousel-item item">
            <img class="d-block img-fluid" src="/img/activites//voyage/voyage_us.jpeg" alt="Third slide">
        </div>
    </div>
</div>



<div class="container">
    <br>
    <br>
    <div class="row justify-content-center">

        <div class="col">
            <div class="row justify-content-center">
                <a href="../domaine-intervention">
                    <div class="icon-image mx-auto"><i class="fa fa-dot-circle-o"></i></div>
                    <div class="icon-legend">Comment faire ?</div>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="row justify-content-center">
                <a href="../projets">
                    <div class="icon-image mx-auto"><i class="fa fa-handshake-o icone align-items-center" aria-hidden="true"></i></div>
                    <div class="icon-legend">Projets</div>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="row justify-content-center">
                <a href="../contact">
                    <div class="icon-image mx-auto"><i class="fa fa-user-circle" aria-hidden="true"></i></div>
                    <div class="icon-legend center">Contact</div>
                </a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="row"></div>
            <div class="row"></div>
        </div>
        <div class="col">
            <div class="row"></div>
            <div class="row"></div>
        </div>
        <div class="col">
            <div class="row"></div>
            <div class="row"></div>
        </div>
    </div>


</div>


<script type="text/javascript" src="/js/caroussel.js"></script>


{{ partial "footer" . }}